@using SUPUS.Abstraction
@model Employee
@{
    ViewBag.Title = "Employee Detail";
}
<div class="container col-6 offset-3" style="margin-top:120px">
    <div class="card border-secondary">
        <div class="card-header text-white" style="background-color: #ed1c24;">
            <strong>Информация сотрудника</strong>
        </div>
        <div class="card-body text-secondary">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Свойство</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td><strong>ID</strong></td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td><strong>Фамилия</strong></td>
                    <td>@Model.LastName</td>
                </tr>
                <tr>
                    <td><strong>Имя</strong></td>
                    <td>@Model.FirstName</td>
                </tr>
                <tr>
                    <td><strong>Номер смены</strong></td>
                    <td>@Model.Shift.Number</td>
                </tr>
                <tr>
                    <td><strong>Начало</strong></td>
                    <td>@Model.Shift.Begin</td>
                </tr>
                <tr>
                    <td><strong>Конец</strong></td>
                    <td>@Model.Shift.End</td>
                </tr>
            </table>
        </div>
    </div>
</div>