@model IEnumerable<SUPUS.Abstraction.Employee>
    @{
        ViewBag.Title = "Users";
    }
    <div class="container" style="margin-top:60px">
        <div class="card border-secondary">
            <div class="card-header text-white" style="background-color: #ed1c24;">
                <strong>Users</strong><span>&nbsp;-&nbsp;Total:@Model.Count()</span>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th>Id</th>
                        <th>Фамилия</th>
                        <th>Имя</th>                        
                    </tr>
                    @foreach (var u in Model)
                    {
                    <tr>
                        <td>@u.Id</td>
                        <td>@u.LastName</td>
                        <td>@u.FirstName</td>
                        <td><a class="btn-sm btn-primary" style="background-color: #ed1c24;" asp-controller="Employee" asp-action="Details" asp-route-id="@u.Id">Подробнее</a></td>
                        <td><a class="btn-sm btn-primary" style="background-color: #ed1c24;" asp-controller="Employee" asp-action="Timetable" asp-route-id="@u.Id">Время</a></td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>

